

.flex-container {
    width:600px;

}

.flex-item {
    background-color: green;
    width: 120px;
    height: 100px;
    margin: 10px;
    float: left;
    text-align: center;
    line-height: 100px;
}

